body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-size: 4px */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .App {
  display: flex;
  justify-content: center;
  flex-direction: column;
} */

.card-container1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
}

/* .card-container1 {
  display: flex;
  flex-wrap: wrap;
  
} */

/* .card-container1>* {
  flex: 1 1 160px;
} */


.card-container2 {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 10px 5px;
  border: 1px solid black;
}

.card-title {
  text-align: center;
  font-size: 10px;
  margin: 0;
  padding: 0;
}

.input-title {
  text-align: center;
  font-size: 10px;
  margin: 0;
  padding: 0;
  resize: none;
}

.card-subject {
  font-size: 8px;
}

.input-subject {
  text-align: center;
  font-size: 8px;
  resize: none;
}

.card-content {
  font-size: 6px;
}

.card-studied {
  font-size: 6px;
}

.card-mastered {
  font-size: 6px;
}

.input-content {
  font-size: 80%;
  width: 80%;
  height: 100px;
  text-align: center;
  resize: none;
}

